h1{
  font-size: 1.6rem;
  color: $dark-blue;
}
h2{
  display: inline-block;
  font-weight: bold;
  color: $dark-blue;
  font-size: .8rem;
}
h4{
    margin: 0.4em auto;
}
em{
font-weight: 600;
}
p{
margin-block-start: 0;
margin-block-end: 0;
}